.auth-form-container {
  max-width: 25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3);
}

.auth-server-loading-text {
  font-size: 0.8rem;
  opacity: 0.5;
}

.auth-heading {
  color: var(--primary);
  font-size: 2rem;
  display: inline;
}

.auth-icon {
  width: 2rem;
}

.auth-description {
  color: var(--primary);
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.auth-form > button {
  align-self: center;
  width: 100%;
  padding: 0.375rem;
}

.auth-form > input {
  width: 100%;
  align-self: center;
  padding: 0.375rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.3);
}

.field-error {
  color: crimson;
  font-size: 0.75rem;
  text-align: center;
}

.github-form button {
  background-color: var(--neutral-900);
  color: var(--neutral-100);
}

.auth-link {
  font-size: 0.8rem;
}
