.auth-form-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  scale: 1.5;
}

.auth-heading {
  color: var(--primary);
}

.auth-description {
  color: var(--primary);
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.auth-form > button {
  align-self: center;
  width: 90%;
}

.auth-form > input {
  width: 100%;
  align-self: center;
  padding: 0.375rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.github-form button {
  background-color: var(--neutral-900);
  color: var(--neutral-100);
}

@media only screen and (max-width: 720px) {
  .auth-form-container {
    scale: 1.2;
  }
}
