.create-post-form {
  align-self: center;
}

.comment-card .comment-author-name {
  font-weight: bold;
}

.comment-card .comment-content {
  margin-left: 1rem;
}

.home-main-container {
  display: grid;
  grid-template-columns: minmax(15ch, 1fr) 5fr;
  gap: 1rem;
}

.home-main-container > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
