*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
}

:root {
  --primary: #3a7bd5;
  --secondary: #5a4eda;
  --accent: #d59439;
  --neutral-100: #f4f5f6;
  --neutral-900: #2f3337;
  --text: #111111;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--neutral-100);
  color: var(--text);
  max-width: 800px;
  margin: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

hr {
  width: 100%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
}
