.profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.profile-left-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-heading {
  display: inline;
}

.edit-mode-button {
  align-self: center;
}

.profile-main-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

input[type="file"] {
  font-size: 0.8rem;
}

input[type="file"]::file-selector-button {
  border: none;
  background: var(--secondary);
  border-radius: 0.5rem;
  color: var(--neutral-100);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.125rem 1rem;
}

input[type="file"]::file-selector-button:hover {
  opacity: 0.85;
}

.change-picture-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.picture-input {
  align-self: flex-start;
}

.upload-picture-button {
  align-self: flex-start;
  padding-inline: 2rem;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.15);
}

.profile-follow-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-right-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Edit Form */

.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.edit-profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
  background-color: white;
  padding: 0.75rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.15);
}

.edit-profile-errors-container {
  grid-column: 1 / -1;
}

.edit-profile-form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.edit-profile-form input,
.edit-profile-form select {
  padding: 0.25rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid black;
}

.edit-profile-form button {
  padding: 0.25rem;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .profile-container {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto auto;
    gap: 1rem;
  }

  .profile-content {
    align-self: flex-start;
  }
}
